[respond]
[include chopper_tune.cfg]

#  Octopus Pro boards STM32H723.  Select the appropriate micro-controller in "make
# menuconfig" and select "Enable low-level configuration options". For
#  For STM32H723 boards use a "128KiB bootloader" and a "25Mhz crystal"
# See docs/Config_Reference.md for a description of parameters.
[exclude_object]
[include macros/macro.cfg]
[include config/fan.cfg]
#[include config/filamentsensor.cfg]
[include config/stepper.cfg]
[include config/led.cfg]
[include MotorSync.cfg]
[include mainsail.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[respond]   #activate messages

[gcode_arcs]  #activate round corner
resolution: 0.1


# You need to include the MotorSync config file
[include MotorSync.cfg]

[force_move]
enable_force_move: True



[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 10.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 10.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 10.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 0.50   ; the value to retract while PAUSE
variable_cancel_retract   : 0.80   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 0.80   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 10  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 10  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : True ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "filament_switch_sensor fs_extruder"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

########################
########################
### Printer
########################

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 60000
minimum_cruise_ratio: 0.5
max_z_velocity: 30
max_z_accel: 1500
square_corner_velocity: 7

[input_shaper]
shaper_freq_x: 132.6
shaper_type_x: ei
damping_ratio_x: 0.043
shaper_freq_y: 92.0
shaper_type_y: ei
damping_ratio_y: 0.041

[mcu host]
serial: /tmp/klipper_host_mcu

[mcu]
canbus_uuid: 59469bda118c

[mcu EBBCan]
canbus_uuid: 7923f36815fd

[temperature_sensor Octopus]
sensor_type: temperature_mcu
max_temp: 100

[temperature_sensor raspberry_pi_4B]
sensor_type: temperature_host
min_temp: 10
max_temp: 100 



########################
########################
### Extruder
########################
[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 22 
Gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
control: pid
pid_Kp: 23.216 
pid_Ki: 1.629 
pid_Kd: 82.712
min_temp: 0
max_temp: 450

sensor_type:MAX31865
sensor_pin: EBBCan: PA4
spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2

max_extrude_only_distance: 250.0
max_extrude_cross_section: 250
#pressure_advance: 0.02
#pressure_advance_smooth_time: 0.03

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.85
stealthchop_threshold: 0


########################
########################
### Heatbed
########################

[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # TB
sensor_type: ATC Semitec 104GT-2
min_temp: 0
max_temp: 130
control: pid
pid_kp: 54.122
pid_ki: 2.864
pid_kd: 255.727
max_power: 0.7

########################
########################
### Cartographer
########################

[cartographer]
canbus_uuid: 7dd159b0a935
speed: 40.
#   Z probing dive speed.
lift_speed: 20.
#   Z probing lift speed.
backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
x_offset: 0.
#   X offset of cartographer from the nozzle.
y_offset: 31
#   Y offset of cartographer from the nozzle.
trigger_distance: 2.
#   cartographer trigger distance for homing.
trigger_dive_threshold: 1.5
#   Threshold for range vs dive mode probing. Beyond `trigger_distance +
#   trigger_dive_threshold` a dive will be used.
trigger_hysteresis: 0.006
#   Hysteresis on trigger threshold for untriggering, as a percentage of the
#   trigger threshold.
cal_nozzle_z: 0.1
#   Expected nozzle offset after completing manual Z offset calibration.
cal_floor: 0.1
#   Minimum z bound on sensor response measurement.
cal_ceil:5.
#   Maximum z bound on sensor response measurement.
cal_speed: 1.0
#   Speed while measuring response curve.
cal_move_speed: 10.
#   Speed while moving to position for response curve measurement.
default_model_name: default
#   Name of default cartographer model to load.
mesh_main_direction: x
#   Primary travel direction during mesh measurement.
#mesh_overscan: -1
#   Distance to use for direction changes at mesh line ends. Omit this setting
#   and a default will be calculated from line spacing and available travel.
mesh_cluster_size: 1
#   Radius of mesh grid point clusters.
mesh_runs: 1
#   Number of passes to make during mesh scan.

[lis2dw]
cs_pin: cartographer:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: lis2dw
probe_points:
    115, 115, 20
    
########################
########################
### Bed Mesh
########################

[bed_mesh]
speed: 200
horizontal_move_z: 5

mesh_min: 7, 31
mesh_max: 206, 210
mesh_pps: 0,0

probe_count: 30,30
algorithm: bicubic

########################
########################
### Z_Tilt & Co
########################


[z_tilt]
z_positions:  
    23.5 , 32.0
    111.5 , 197.5
    192.5 , 29.5
    
    
    
points:
    23.5 ,  2.0
    111.5 , 160.5
    188.5 , 0

#[z_tilt]
#z_positions:  
#    38, 38  
#    208, 38
#    123, 207 
    
#points:
#    25, 25  
#    190, 25
#    112.50, 175


speed: 250
horizontal_move_z: 6
retries: 10
retry_tolerance: 0.003

[safe_z_home]
home_xy_position: 110, 91.5
speed: 100.0
z_hop: 10
z_hop_speed: 20

[axis_twist_compensation]
speed: 100
calibrate_start_x: 25
calibrate_end_x: 202
calibrate_y: 95

#[neopixel my_neopixel_1]
#pin: PE10

#[neopixel my_neopixel_2]
#pin: PE9

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer model default]
#*# model_coef = 1.4867311599974486,
#*# 	  1.9215081292422436,
#*# 	  0.7463814341011981,
#*# 	  0.3408286420806137,
#*# 	  0.32785684190063086,
#*# 	  0.2527706949914975,
#*# 	  -0.1882775670958343,
#*# 	  -0.19853739415895852,
#*# 	  0.18028852099005405,
#*# 	  0.13838321062837491
#*# model_domain = 3.231649510616321e-07,3.302614219654837e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 33.288054
#*# model_offset = 0.86500
