########################
########################
# FANS
########################

[heater_fan hotend_fan]
pin: EBBCan: PA0
heater: extruder
heater_temp: 50.0

[controller_fan Octopus]
stepper: stepper_x,stepper_y,stepper_z
pin: PA8
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10
idle_timeout: 120

#[controller_fan PSU]
#stepper: stepper_x, stepper_y, stepper_z
#pin: PE5
#max_power: 1
#shutdown_speed: 0
#kick_start_time: 0.1
#off_below: 0.10
#idle_timeout: 120

[fan_generic fan0] # CPAP
pin: PB6
max_power: 1
shutdown_speed: 0
off_below: 0.2
hardware_pwm: true
cycle_time: 0.00001
off_below: 0.2

[output_pin CPAPpowerfeed]
#in Heater1
pin: PA0
pwm: false
value: 1
shutdown_value: 0



# this is the auxiliary fan
[multi_pin aux_fans_pin]
pins: PE5, PD12

# this is the auxiliary fan
[fan_generic Aux_Fan]
pin: multi_pin:aux_fans_pin
max_power: 1.0
cycle_time: 0.00004   #0.0001
hardware_pwm: false
kick_start_time: 0.2
#kick_start_time: 0.5