
###############################
# STEPPER
###############################


[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ac
tuning_goal: performance

[autotune_tmc stepper_x1]
motor: ldo-42sth48-2504ac
tuning_goal: performance

[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ac
tuning_goal: performance

[autotune_tmc stepper_y1]
motor: ldo-42sth48-2504ac
tuning_goal: performance

[autotune_tmc stepper_z]
motor: omc-17hs19-2004s1

[autotune_tmc stepper_z1]
motor: omc-17hs19-2004s1

[autotune_tmc stepper_z2]
motor: omc-17hs19-2004s1

#[autotune_tmc extruder]
#motor: ldo-36sth17-1004ahg ; ldo-36sth20-1004ahg

########################
########################
# Stepper x
########################

# Driver0 vl
[stepper_x]
enable_pin: !PF14
step_pin: PF13
dir_pin: PF12
microsteps: 128
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: EBBCan: PB6
position_endstop: 0
position_max: 224
homing_speed: 60
homing_retract_dist: 0

[tmc5160 stepper_x] 
cs_pin: PC4
run_current: 1.7
#spi_bus: spi1
spi_speed: 500000
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
stealthchop_threshold: 0


# Driver1 hr
[stepper_x1]
enable_pin: !PF15
step_pin: PG0
dir_pin: !PG1
microsteps: 128
rotation_distance: 40
full_steps_per_rotation: 200

[tmc5160 stepper_x1] 
cs_pin: PD11
run_current: 1.7
#spi_bus: spi1
spi_speed: 500000
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
stealthchop_threshold: 0


########################
########################
# Stepper Y
########################
# Driver2 vr
[stepper_y]
enable_pin: !PG5
step_pin: PF11
dir_pin: PG3
microsteps: 128
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: PG6 
position_endstop: 0
position_max: 222
homing_speed: 60
homing_retract_dist: 0

[tmc5160 stepper_y] 
cs_pin: PC6
run_current: 1.7
#spi_bus: spi1
spi_speed: 500000
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
stealthchop_threshold: 0


# Driver3 hl
[stepper_y1]
enable_pin: !PA2
step_pin: PG4
dir_pin: !PC1
microsteps: 128
rotation_distance: 40
full_steps_per_rotation: 200

[tmc5160 stepper_y1] 
cs_pin: PC7
run_current: 1.7
#spi_bus: spi1
spi_speed: 500000
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
stealthchop_threshold: 0


###############################
# STEPPER Z
###############################

# Driver4  mitte
[stepper_z]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
microsteps: 128
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 5
position_min: -8
position_max:250
homing_speed: 30
second_homing_speed: 15


[tmc2209 stepper_z]
uart_pin: PF2
run_current: 0.6
interpolate: False
sense_resistor: 0.110
stealthchop_threshold: 999999

# Driver5  links
[stepper_z1]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
microsteps: 128
rotation_distance: 8
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PE4
run_current: 0.6
interpolate: False
sense_resistor: 0.110
stealthchop_threshold: 999999

# Driver6 rechts
[stepper_z2]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
microsteps: 128
rotation_distance: 8
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: PE1
run_current: 0.6
interpolate: False
sense_resistor: 0.110
stealthchop_threshold: 999999