########################
########################
# FANS
########################

#[heater_fan hotend_fan] 
#pin: PA6
#heater: extruder
#heater_temp: 50.0

[controller_fan Octopus]  #FAN 5
stepper: stepper_x,stepper_y,stepper_z
pin: PA1
tachometer_pin: PC3
#cycle_time: 0.00001
shutdown_speed: 0
idle_timeout: 180

########################
########################
# CPAP
########################

[fan]

pin: PA3
max_power: 0.9 
shutdown_speed: 0 
cycle_time: 0.005 
hardware_pwm: False 
kick_start_time: 0.100 
off_below: 0.1 


########################
########################
# AUX Fans
########################

# this is the auxiliary fan
[fan_generic RSCS]
pin: PA5
#max_power: 1.0
cycle_time: 0.1  #0.0001
hardware_pwm: false
kick_start_time: 0.2
off_below: 0.05

##  Chamber temp / Exhaust fan (12V Fan 3 wire)

#[temperature_fan Exhaust_fan] # FAN 4
#pin: PA1
#tachometer_pin: PC3
#max_power: 1.0
#shutdown_speed: 0.1
#cycle_time: 0.0005     #2 kHz PWM signal
#hardware_pwm: true
#kick_start_time: 5.0
#sensor_type: ATC Semitec 104GT-2
#sensor_pin: PB0
#min_temp: 0
#max_temp: 70
#target_temp: 50
#control: watermark
#gcode_id: C

#Macro inspired by klipper-github issue https://github.com/Klipper3d/klipper/issues/2174
[gcode_macro M106]
rename_existing: G106
gcode:
    {% set P = params.P | default(0) | int %}
    {% set S = params.S | default(255) | int %}
    {% if P == 0 %}
        G106 S{S}
    {% else %}
        {% set fan = "RSCS" if P == 2 else "Exhaust_fan" %}
        SET_FAN_SPEED FAN={fan} SPEED={S / 255}
    {% endif %}

[gcode_macro M107]
rename_existing: G107
gcode:
    {% set fan = params.P|default(1)|int %}
	{% if fan == 2 %}
		SET_FAN_SPEED FAN=RSCS SPEED=0 
	{% else %}
	  SET_FAN_SPEED FAN=RSCS SPEED=0  
	  G107
	{% endif %}


########################
########################
# Watercooling
########################
[heater_fan pump]
pin: PF8      #FAN5
tachometer_pin: PC1
shutdown_speed: 1.0    # Pump runs at 100% if Klipper crashes (Safety!)
fan_speed: 1.0
cycle_time: 0.01
heater: extruder
heater_temp: 35

[heater_fan hotend_fan]
pin: PA2   #FAN6
tachometer_pin: PC2
fan_speed: 1.0
cycle_time: 0.01
heater: extruder
heater_temp: 35
shutdown_speed: 1.0  
